.Gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.Gallery .about {
  display: inline-block;
  font-size: 72px;
  font-weight: 300;
  margin: 10px;
  transition: 0.2s all;
}
